<ion-view view-title="Bricks Sum">
    <ion-content class="main-page-bg">
        <br />
        <div class="row text-center">
            <div class="col">
                <span class="text-center text-white general-titles">Your badges</span>
            </div>
        </div>

        <br />

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[0]}}">
                <span class="text-white">Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[1]}}">
                <span class="text-white">Productive</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[2]}}">
                <span class="text-white">Guru</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[3]}}">
                <span class="text-white">Brain Plus</span>
            </div>
        </div>

        <br />

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[4]}}">
                <span class="text-white">Supersonic</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[5]}}">
                <span class="text-white">Newton</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[6]}}">
                <span class="text-white">Copernicus</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="{{user_badges_img[7]}}">
                <span class="text-white">Oracle</span>
            </div>
        </div>

        <br />

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-33"></div>
            <div class="col col-33">
                <img class="badge-image" src="{{user_badges_img[8]}}">
                <span class="text-white">Champion</span>
            </div>
            <div class="col col-33"></div>
        </div>
        <!--

        <div class="row" style="text-align: -webkit-center">
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
            <div class="col col-25">
                <img class="badge-image" src="img/locked-badge.png">
                <span>Newbie</span>
            </div>
        </div>

        -->

        <div class="row bottom-position">
            <div class="col">
                <button ng-click="goToPage('tab.dash')" class="button button-block button-positive">Main menu</button>
            </div>
        </div>
    </ion-content>
</ion-view>